.idea
.DS_Store
node_modules/
npm-debug.log
*.py[cod]
lawyer_assistant/settings.py
*.file
*.sock
*.out
*.ini
media/
down_case_file/
static/pdf
static/verification
celerybeat-schedule
*.rdb
migrations/*
*.pyc
/static/firm_letter2/
/static/down/